In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Gender_classification.csv')
df.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Favorite Color        66 non-null     object
 1   Favorite Music Genre  66 non-null     object
 2   Favorite Beverage     66 non-null     object
 3   Favorite Soft Drink   66 non-null     object
 4   Gender                66 non-null     object
dtypes: object(5)
memory usage: 2.7+ KB

In [4]:
y = np.array(df['Gender'])
X = df.drop('Gender', axis=1)
X.head()

  Favorite Color Favorite Music Genre Favorite Beverage Favorite Soft Drink
0           Cool                 Rock             Vodka          7UP/Sprite
1        Neutral              Hip hop             Vodka     Coca Cola/Pepsi
2           Warm                 Rock              Wine     Coca Cola/Pepsi
3           Warm     Folk/Traditional           Whiskey               Fanta
4           Cool                 Rock             Vodka     Coca Cola/Pepsi

In [5]:
g = df['Gender'].value_counts()
gender = g.index
g

M    33
F    33
Name: Gender, dtype: int64

In [6]:
c = df['Favorite Color'].value_counts()
color = c.index
c

Cool       37
Warm       22
Neutral     7
Name: Favorite Color, dtype: int64

In [7]:
mg = df['Favorite Music Genre'].value_counts()
genre = mg.index
mg

Rock                19
Pop                 17
Hip hop              8
Electronic           8
R&B and soul         6
Folk/Traditional     4
Jazz/Blues           4
Name: Favorite Music Genre, dtype: int64

In [8]:
b = df['Favorite Beverage'].value_counts()
beverage = b.index
b

Doesn't drink    14
Beer             13
Other            11
Wine             10
Whiskey           9
Vodka             9
Name: Favorite Beverage, dtype: int64

In [9]:
s = df['Favorite Soft Drink'].value_counts()
soft = s.index
s

Coca Cola/Pepsi    32
Fanta              14
7UP/Sprite         13
Other               7
Name: Favorite Soft Drink, dtype: int64

In [10]:
for i in range(len(color)):
    df['Favorite Color'].replace(color[i], i, inplace = True)

for i in range(len(genre)):
    df['Favorite Music Genre'].replace(genre[i], i, inplace = True)

for i in range(len(beverage)):
    df['Favorite Beverage'].replace(beverage[i], i, inplace = True)
    
for i in range(len(soft)):
    df['Favorite Soft Drink'].replace(soft[i], i, inplace = True)
    
for i in range(len(gender)):
    df['Gender'].replace(gender[i], i, inplace = True)

In [11]:
df.head(3)

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,0,0,5,2,1
1,2,2,5,0,1
2,1,0,3,0,1

In [12]:
y = df['Gender']

In [13]:
features = ['Favorite Color', 'Favorite Music Genre', 'Favorite Beverage', 'Favorite Soft Drink']
X = df[features]

In [14]:
y.shape

(66,)

In [15]:
X.shape

(66, 4)

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2)

In [27]:
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

LogisticRegression()

In [28]:
log_model = LogisticRegression()
log_model.fit(X, y)

LogisticRegression()

In [29]:
y_train_pred=logreg.predict(X_train)

In [30]:
y_test_pred=logreg.predict(X_test)

In [31]:
from sklearn import metrics

accuracy = metrics.accuracy_score(y_train, y_train_pred)
accuracy_percentage = 100 * accuracy
accuracy_percentage

51.92307692307693

In [36]:
from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y_train, y_train_pred))
print('MSE:', metrics.mean_squared_error(y_train, y_train_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))

MAE: 0.4807692307692308
MSE: 0.4807692307692308
RMSE: 0.6933752452815364

In [32]:
log_model.score(X_test, y_test)

0.6428571428571429

In [35]:
from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y_test,y_test_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_test_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

MAE: 0.5714285714285714
MSE: 0.5714285714285714
RMSE: 0.7559289460184544